<!doctype html>
<html>
  <head>
    <title>Random songs of Arjit Singh</title>
    
  </head>

  <body>
    <div class="container">
      <div id="mmm">
        <h1>Random songs of Arjit Singh</h1>
        <a href="/" class="btn btn-primary" id='next'></a>
      </div>
      <audio controls autoplay >
        <source src="<%= url %>" type="audio/mpeg">
        </audio>
      <h3 id="name"><%=name%></h3>

     <script>
       fn=1;
       setInterval(function(){ 
         document.getElementById('next').click()
        }, 30000);
     </script>

  </body>

</html>

