<!doctype html>
<html>
  <head>
    <title>Random songs of Arjit Singh</title>
    
  </head>

  <body>
    <div class="container">
      <div id="next">
        <h1>Random songs of Arjit Singh</h1>
        <a href="/" class="btn btn-primary">Next</a>
      </div>
      <video controls="" autoplay="" name="media" id="song">
        <source src="<%= url %>" type="audio/mpeg">
      </video>
      <h3 id="name"><%=name%></h3>

     

  </body>

</html>

